.courseCard{
    width:29%;
    height: 350px;
    float: left;
    padding:10px;
    border:1px solid lightgray;
    border-radius: 5px;
    box-shadow: 0 0 5px lightgray;
    margin: 5px;
}
.courseCard img{
    width:100%;
}