.parent{
  display: flex;
  padding:20px;
}
.course-list{
  width:70%;
  padding:10px;
}
.order-cart{
  width:30%;
  padding:10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
